 
#uploading {
  display: none;
  background: radial-gradient(#222, #000);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  background: rgba(106, 204, 234, 0)
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
  transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lm5 {
  margin-left: 5px;
}
.lm10 {
  margin-left: 10px;
}
.lm20 {
  margin-left: 20px;
}
.lm30 {
  margin-left: 30px;
}
.lm40 {
  margin-left: 40px;
}
.lm60 {
  margin-left: 60px;
}
.lm80 {
  margin-left: 80px;
}
.rm12 {
  margin-right: 12px;
}
.rm15 {
  margin-right: 15px;
}
.rm20 {
  margin-right: 20px;
}
.rm40 {
  margin-right: 40px;
}
.rm60 {
  margin-right: 60px;
}
.rm80 {
  margin-right: 80px;
}
.tm5 {
  margin-top: 5px;
}
.tm10 {
  margin-top: 10px;
}
.tm20 {
  margin-top: 20px;
}
.tm30 {
  margin-top: 30px;
}
.tm40 {
  margin-top: 40px;
}
.tm50 {
  margin-top: 50px;
}
.tm60 {
  margin-top: 60px;
}
.bm5 {
  margin-bottom: 5px;
}
.bm10 {
  margin-bottom: 10px;
}
.bm20 {
  margin-bottom: 20px;
}
.bm30 {
  margin-bottom: 30px;
}
.bm40 {
  margin-bottom: 40px;
}
.bm50 {
  margin-bottom: 50px;
}
.bm60 {
  margin-bottom: 60px;
}
.rp10 {
  padding-right: 10px;
}
.rp20 {
  padding-right: 20px;
}
.lp10 {
  padding-left: 10px;
}
.lp20 {
  padding-left: 20px;
}
.sep10 {
  border-left-style: dashed;
  border-width: 1px;
  border-color: #FFFFFF;
  height: 90%;
  width: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.sep10_noboard {  
  border-width: 1px;  
  height: 90%;
  width: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.l_float {
  float: left;  
}
.farSide {
  text-align: right;
}
.bc0 {
  border-color: #000000;  
}
.bc1 {
  border-color: #9013FE;  
}
.bc2 {
  border-color: #41719C;
}
.bc3 {
  border-color: #995BA5;
}
.bc4 {
  border-color: #0096A6;
}
.bw1 {
  border-width: 1px;
}
.bw2 {
  border-width: 2px;
}
.bw3 {
  border-width: 3px;
}
.bw4 {
  border-width: 4px;
}
.csr_ptr {
  cursor: pointer;
}

.project-info > input {
  margin-right: 14px;
  padding: 10px 14px;
  background-color: #FFF;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  outline: none;
  text-align: left;
  transition: border 300mS, width 300mS;
  border: 2px solid #212F3C;
  width: 140px;
}

.project-info > input:focus {
  border: 2px solid #34495E;
  width: 140px;
}
.project-info > span {
  font-size: 14px;
  color: #FFF;
}

